* {
    font-family: -apple-system-font, BlinkMacSystemFont, open sans, helvetica neue, Helvetica, Arial, sans-serif
}

.icon {
    text-align: center
}

.icon.intro {
    margin-top: -10px;
    margin-bottom: 25px
}

.text-muted {
    color: #999
}

.block {
    display: block
}

.version {
    margin-top: 4px
}

#content > ul > li {
    padding-top: 13px;
    padding-bottom: 13px
}

h2[role=header] {
    text-transform: initial;
    font-size: 18px;
    font-weight: 700;
    color: #222;
    margin-bottom: 8px
}

#content > ul {
    box-shadow: 0 4px 21px -3px rgba(51, 51, 51, .03)
}

#content ul > li {
    border: none
}

ul:before, ul:after {
    display: none !important
}

@media(min-width:964px) {
    #content > ul {
        border-radius: 2px
    }

    #content > ul.changelog > li {
        padding-left: 4px
    }
}

.screenshot img {
    width: 100%;
    max-width: 375px;
    display: block;
    margin: 0 auto;
    border-radius: 6px
}

.screenshot.mini img {
    max-width: 190px;
    border-radius: 4px
}

#content > ul > li.price {
    text-align: center;
    color: #444
}

#content > ul > li.price > span {
    display: block;
    font-size: 32px;
    font-size: 2.04em;
    font-weight: 700;
    font-family: dd sf compact display, -apple-system-font, BlinkMacSystemFont, open sans, helvetica neue, Helvetica, Arial, sans-serif
}

#content > ul > li.price.mini > span {
    font-size: 22px;
    font-size: 1.4em
}

@media(min-width:600px) {
    #content > ul > li.price:not(.mini) > span {
        display: block;
        font-size: 48px;
        font-size: 3.1em
    }
}

#content > ul > li > span.value {
    color: #777;
    float: right;
    text-align: right;
    margin-left: 8px
}

footer.legal {
    padding: 20px;
    text-align: center;
    font-size: 75%
}

#content p.user-section-footer[role=footer] {
    margin-bottom: 24px
}

li.purchase-status {
    font-weight: 400
}

li.purchase-status.purchased, #content > ul > li.price > small.sale {
    color: #32cd32
}

li.purchase-status.pending small {
    color: #666
}

li.purchase-status.failed {
    color: #ff4500
}

.user-info {
    text-align: center
}

li.md > ul {
    padding-left: 2px;
    list-style-position: inside;
    list-style-type: disc
}

li.md > ul ul {
    list-style-type: circle
}

li.md > ul ul ul {
    list-style-type: square
}

ul#alerts {
    background: 0 0
}

ul#alerts > li {
    color: #fff;
    margin: 0;
    padding: 16px 12px;
    margin-bottom: 8px
}

ul#alerts > li, ul#alerts > li * {
    color: #fff !important
}

ul#alerts > li p {
    padding: 0;
    margin: 0
}

ul#alerts > li p.title {
    font-weight: 700;
    margin-bottom: 8px;
    font-size: 15px
}

ul#alerts > li .md > p:last-child, ul#alerts > li:last-child {
    margin-bottom: 0
}






/* Dark Mode (iOS 13/macOS Mojave) */
@media (prefers-color-scheme: dark) {
    html {
        background: #000
    }

    .md {
        color: #ECEFF4
        }

        h2[role=header] {
            color: #D8DEE9
            }
            
            .text-muted {
                color: #D8DEE9
            }

            #content > ul > li {
                color: #D8DEE9
            }

        #content > ul {
            margin: 5px 0 35px 0;
            padding: 0;
            list-style: none;
            background: #121212
        }


    ul li [role=button]:active, ul li [role=button]:focus, ul li [role=link]:active,
    ul li [role=link]:focus {
        background-color: #282828
    }
}